 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This blog is Kim Taejin's development study blog.</p>
                </div>
                <div class="col-lg-4">
                    <p>Hello! I am currently majoring in computer engineering at Chungnam National University and studying CS subjects including web development with enthusiasm.</p>
                </div>
            </div>
        </div>
    </section>
